/* ExpenseList.css */
.expense-list-add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 100%;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
