.input-form {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 14px 15px;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.input-form:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.logo-spacing {
    margin-top: 60px;
    margin-bottom: 50px;
}

.divider-line {
    height: 2px;
    background-color: #ddd;
    margin: 30px 0;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login-container {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.forgot-password {
    font-size: 15px;
    color: #007bff;
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: -25px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.member_bar {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 40px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

.member_info {
    display: flex;
    align-items: center;
}

.profile_picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member_details {
    display: flex;
    flex-direction: column;
}

.member_name {
    font-size: 20px;
    font-weight: bold;
}

.member_team {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
.menu-table a {
    margin-bottom: 30px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
}

.Logout-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
